<!-- Hero Section -->
<header class="jumbotron text-center">
  <h1>Angular Template</h1>
  <p>
    This is a simple hero unit, a simple jumbotron-style component for calling
  </p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  <p><a class="btn btn-primary btn-lg" href="#" routerLink="#" role="button">Learn more</a></p>
</header>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2024 Your Brand</span>
  </div>
</footer>
